/*
 *  Author     :    Christopher Robinson
 *  Email      :    christopher@edg3.co.uk
 *  Website    :    http://www.edg3.co.uk/
*/

/* general */
a
{
    color: #9447D1;
    text-decoration: none;
}

a:hover
{
    color: #666;
    text-decoration: underline;
}

blockquote
{
    background: #f1f1f1;
    border-left: 2px solid #7534aa;
    color: #666;
    display: block;
    font-style: oblique;
    line-height: 20px;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}

.left
{
    float: left;
    margin: 0 10px 0 0;
}

.right
{
    float: right;
    margin: 0 0 0 10px;
}

/* body */
body
{
    margin: 0;
    padding: 0;
}

#body
{
    background: #fff url('image/background_body.jpg') repeat-x top;
    color: #666;
    font-family: Verdana, "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}


/* header */
#header
{
    background: url('image/background_header.jpg');
    width: 760px;
    height: 320px;
    margin: 0 auto;
}

#header:after
{
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

#header h1
{
    color: #666;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 0 20px 0;
    padding-top: 40px;
    
}

#header p
{
    color: #fff;
    font-weight: bolder;
    float: right;
    padding-right: 20px;
    padding-top: 120px;
}

/* Primary links */
#primary_links ul
{
    list-style: none;
}

#primary_links ul li
{
    display: block;
    width: 190px;
}

#primary_links ul li a
{
    display: block;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}

#primary_links ul li a:hover
{
    background: #b484da;
    color: #eee;
    text-decoration: none;
}

/* Secondary links */
#secondary_links
{
    position: absolute;
    top: 5px;
    right: 0;
    color: #9447D1;
}

#secondary_links ul li
{
    display: inline;
    margin: 0;
    padding: 0;
}

#secondary_links ul li a
{
    display: inline;
    padding: 5px;
    margin: 0;
}

#secondary_links ul li a:hover
{
    background: #b484da;
    color: #eee;
    text-decoration: none;
}


/* content */
#content
{
    height: auto;
    margin: 0 auto;
    width: 760px;
}

#content:after
{
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
} 


/* sidebar */
#sidebar
{
    float: left;
    width: 210px;
}

#sidebar h1
{
    border-bottom: 2px solid #7534aa;
    color: #666;
    font-size: 165%;
    font-weight: 400;
    line-height: 30px;
    padding: 0 10px;
}

#sidebar h2
{
    border-bottom: 2px solid #7534aa;
}

#sidebar p
{
    background: #f1f1f1;
    color: #666;
    display: block;
    font-size: 90%;
    line-height: 20px;
    margin: 10px 0;
    padding: 10px;
}

#sidebar p a.more
{
    display: block;
    text-align: right;
}

#sidebar ul
{
    margin: 10px;
}

#sidebar ul li
{
    border-bottom: 1px solid #b484da;
    list-style: none;
    padding: 5px 2px;
}

#sidebar ul li a
{
    display: block;
    font-family: Georgia;
    text-decoration: none;
    font-weight: bolder;
}

#sidebar ul li a:hover
{
    color: #666;
    text-decoration: underline;
}

#user-login-form ul, #user-login-form li, #user-login-form a
{
    padding-left: 0px;
    margin-left: 0px;
}


/* Main */
#main
{
    float: right;
    width: 520px;
    line-height: 145%;
}

#main p
{
    color: #666;
    line-height: 20px;
    padding: 10px;
}

#main h1
{
    border-bottom: 2px solid #7534aa;
    color: #666;
    font-size: 165%;
    font-weight: 400;
    line-height: 30px;
    padding: 0 10px;
}

#main h2
{
    border-bottom: 2px solid #7534aa;
    margin-bottom: 0.5em;
}


/* footer */
#footer
{
    margin: 10px auto;
    width: 760px;
}

#footer:after
{
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

#footer p
{
    border-top: 2px solid #7534aa;
    color: #666;
    font-size: 90%;
    line-height: 20px;
    padding: 10px;
    text-align: center;
}


/* Drupal specific style */
.admin .left, .admin .right
{
    width: 40% !important;
}

#message
{
    border: thin solid #7534aa;
    padding: 1%;
    margin: 1%;
    text-align: center;
    background-color: #FFC0CB;
    font-weight: bolder;
}

#user-login-form
{
    text-align: left;
}

